body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #4caf50;
  padding: 10px;
  text-align: center;
  color: white;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #4caf50;
}

.course {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

#quiz-container ul {
  list-style-type: none;
  padding: 0;
}

#quiz-container li {
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
.view-courses-button,
.start-quiz-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 15px;
}

.view-courses-button:hover,
.start-quiz-button:hover {
  background-color: #45a049;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 60px;
}

footer p {
  margin: 0;
  font-size: 14px;
}
